.logo_tx {
    color: var(--white, var(--White, #fff));
    font-style: normal;
    line-height: 150%; /* 30px */
  }
  
  /* styles.css atau file CSS Anda */
.nav_items_tx a {
    color: white; /* Warna teks normal */
    transition: color 0.3s ease; /* Transisi warna untuk efek halus */
  }
  
  .nav_items_tx a:hover {
    color: yellow; /* Warna teks saat di-hover */
  }
  
  .logout_tx {
    color: var(--Blue, #ef7373);
    font-style: normal;
    line-height: 150%; /* 24px */
  }
  
  @media (max-width: 767px) {
    .card {
      border-radius: 10px;
      background: white;
      margin: 0 auto;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Shadow effect */
      outline: 1px solid rgba(194, 194, 194, 0.5); /* Stroke effect */
    }
  }
  
  .navbar_logo {
    color: white;
  }