.pagination_container {
    border-radius: 10px;
    border: 1px solid var(--Stroke, #dfe4ea);
    background: var(--White, #ecb210);
  }
  
  .dropdown {
    border-radius: 50px;
    border: 1px solid #DFE4EA;
    padding: 5px 10px;
    background-color: #fff;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .dropdown:hover {
    background-color: #ecb210;
    color: #fff;
  }
  
  .dropdown-option {
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .dropdown-option:hover {
    background-color: #ecb210;
    color: #ecb210;;
  }
  